@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "QuickSand";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-text {
  background: -webkit-linear-gradient(290deg, rgb(68, 188, 228), rgb(169, 23, 236));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bottom {
  background: -webkit-linear-gradient(290deg, rgb(10, 27, 32), rgb(22, 6, 29));
  margin-top: 80px;
  padding-bottom: 40px;
  border-top: 8px solid rgb(10, 10, 10);
  box-shadow: 0px -20px 100px black;
}
