@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
  background-image: url("/imgs/backdrop.jpg");
  padding: 0;
  margin: 0;
  font-family: "QuickSand";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-text {
  background: -webkit-linear-gradient(290deg, rgb(68, 188, 228), rgb(126, 16, 177));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
